@import "variables";
@import "atoms";
@import "organisms";


@mixin no-show{
  list-style-type: none;
  display: none;
  background-color: $pop-up-background;
}
@mixin show-nav-options{
  display: block;
  top: 100%;
  cursor: pointer;
  width: fit-content;
}
@mixin boldHeadlines{
  font-family:$body-font;
  font-weight: bold;
}
@mixin style-li{
  list-style-type: none;
  display: block;
  color: $p-font;
}

