//font colors
$zen-title-font:;
$h1-font: #DE2B64;
$h2-font: #1F1F1F;
$h3-font:; #ffffff;
$p-font: #ffffff;

//font styles

//background colors
$body-background: #1F1F1F;
$p-background1: #6E9378;
$p-background2: #96C5B0;
$p-background3: #F5E214;
