@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

//font colors
$h1-font: #DE2B64;
$h2-font: #1F1F1F;
$h3-font: #ffffff;
$p-font: #ffffff;

//font styles
$body-font: 'Space Grotesk', sans-serif;
  
//background colors
$body-background: #1F1F1F;
$p-background1: #6E9378;
$p-background2: #96C5B0;
$p-background3: #F5E214;
