@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

//font styles
$body-font: 'Space Grotesk', sans-serif;
$body-background: #555;
$p-font: #ffffff;

//galaxy font colors
$galaxy-h1-font: #DE2B64;
$galaxy-h2-font: #1F1F1F;
$galaxy-h3-font: #ffffff;

  
//galaxy background colors

$galaxy-p-background1: #6E9378;
$galaxy-p-background2: #96C5B0;
$galaxy-p-background3: #F5E214;

//sun font colors
$sun-h1-font: #FAB943;
$sun-h2-font: #F59D2e;
$sun-h3-font: #A99984;
$link-font: #FAB943;

//sun background colors
$sun-background-color: black;
$pop-up-background: #DDD5CA;
$wrapper-background: rgba(255, 255, 255, 0.3);

//planet variables
$planet-h1:rgb(224, 142, 224);
$planet-h2:rgb(224, 142, 224);
$planet-h3:rgb(224, 142, 224);
$planet-link:rgb(224, 142, 224);
$p-planet-background:rgba(0,0,0,.6);