@import "variables";
@import "molecules";

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
/*building according to wireframes*/
body {
  font-family: $body-font;
  background-color: $sun-background-color;
  color: $p-font;
  margin: 0;
  padding: 0;
}
*, html {
  margin:0;
  padding:0;  
}
.page-wrapper{
  display: grid;
  grid-template-areas: 
  'intro'
  'sidebar'
  'main'
  ;
}
.intro{
  grid-area: intro;
}
.sidebar{
  grid-area: sidebar;
}
.main-supporting{
  grid-area: main;
}
a{
  color: $link-font;
  transition-duration: 500ms;
}

a:hover {
  color: $galaxy-p-background3;
  cursor: pointer;
}
p{
  margin: 5px;
}
h1{
  color: $sun-background-color;
}
h2{
  color: $sun-background-color;
  font-size: 2em;
}
h3{
  color: $sun-h3-font;
  font-size: 1.5em;
  justify-content: center;
  margin:5px;
}

header h1 {
  text-align: center;
  font-size: smaller;
}
header h2 {
  text-align: center;
}
.design-selection nav, .design-archives nav, .zen-resources ul{
  @include no-show;
}

.design-selection:hover nav, .design-archives:hover nav{
  @include show-nav-options;

}
.design-selection:hover nav li, .design-archives:hover nav li{
  @include style-li;
  justify-content: center;
}
.zen-resources:hover ul{
  @include show-nav-options;
  justify-content: center;
  a{
    justify-content: center;
    color: #555;
  }
}


header {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  background-image: url(images/fullSun.jpg);
  background-size: 700px;
  background-blend-mode: normal;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

footer{
  display: flex;
  justify-content: flex-end;
  margin: 5px 20px 20px 20px;
  background-color: $wrapper-background;
}
footer a{
  padding: 3px;
}

.summary {
  font-size: .75em;
  text-align: center;
  
}
.summary p{
  @include divMargin
}
.preamble{
  @include divMargin;
 margin-top: 20px;
}
.participation, .requirements{
  @include divMargin;
}

.benefits {
  background-image: url(images/sunAndMountains.jpg);
  background-image: 100%;
  background-size: 100%;
  padding-left: .75em;
  padding-right: .75em;
  padding-bottom: .75em;
  padding-top: .1em;
  color: $sun-background-color;
}

.explanation {
  background-image: url(images/nasa-Sun.jpg);
  background-size: 1000px;
  padding-left: .75em;
  padding-right: .75em;
  padding-bottom: .75em;
  padding-top: .1em;
}

.explanation p {
  text-shadow: 1px 1px #555;
}

.benefits > h3 {
  color: $sun-background-color;
}
.design-selection{
  grid-area: selection;
}
.design-archives{
  grid-area: archives;
}
.zen-resources{
  grid-area: resources;
}
.wrapper{
  grid-area:wrap;
  display: grid;
  margin-left: 15px;
  margin-right: 15px;
  grid-template-areas: 'selection archives resources';
  background-color: $wrapper-background;
}
.wrapper > *{
  text-align: center;
}
.wrapper h3{
  color: $sun-h3-font;
  justify-content: center;
  width:max-content;
  font-size:medium;
}

.requirements p:last-of-type{
  margin-top: 30px;
  font-size: .8em;
  text-align: center;
}

/* Medium/Tablet size screen */

@media only screen and (min-width: 600px) {
  h1 {
    color: purple;
  }
  body{
    background-image: url(/Images/solarsystem1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .page-wrapper{
    display:grid;
    grid-template-areas: "intro intro intro"
                          "sidebar main main"
                          "sidebar main main"
                          "sidebar main main";
  }
  .intro{
    grid-area: intro;
    display: grid;
    grid-template-areas: "header header header"
                          ". summary summary"
                          ". preamble preamble";
  }
  .summary{
    grid-area: summary;
  }
  .preamble{
    grid-area: preamble;
    justify-content: end;
  }

  .sidebar{
    grid-area: sidebar;
    display: block;
  }
  .main-supporting{
    grid-area: main;
    background-image: none;
  }
  .intro header{
    display:grid;
    grid-template-areas: "h1 h2 h2 h2";
    background-image: none;
    grid-area: header;
  }
  .intro header h1{
    grid-area: h1;
    font-size: xx-large;
  }
  .intro header h2{
    grid-area: h2;
    color: white;
  }
  .design-selection nav, .design-archives nav, .zen-resources ul{
    display: block;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
  }
 

}



/* Large/Desktop size screen */

@media only screen and (min-width: 901px) {

  h1 {
    color: red;
  }

}