@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
/*list of atoms in html
h1
h2
p
h3
a
li
*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
/*building according to wireframes*/
body {
  font-family: "Space Grotesk", sans-serif;
  background-color: black;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

*, html {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'intro' 'sidebar' 'main';
}

.intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: intro;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.main-supporting {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

a {
  color: #FAB943;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

a:hover {
  color: #F5E214;
  cursor: pointer;
}

p {
  margin: 5px;
}

h1 {
  color: black;
}

h2 {
  color: black;
  font-size: 2em;
}

h3 {
  color: #A99984;
  font-size: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
}

header h1 {
  text-align: center;
  font-size: smaller;
}

header h2 {
  text-align: center;
}

.design-selection nav, .design-archives nav, .zen-resources ul {
  list-style-type: none;
  display: none;
  background-color: #DDD5CA;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.design-selection:hover nav, .design-archives:hover nav {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  top: 100%;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.design-selection:hover nav li, .design-archives:hover nav li {
  list-style-type: none;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design-selection:hover nav li a, .design-archives:hover nav li a {
  color: black;
}

.zen-resources:hover ul {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  top: 100%;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.zen-resources:hover ul a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #555;
}

header {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  background-image: url(images/fullSun.jpg);
  background-size: 700px;
  background-blend-mode: normal;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 5px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

footer a {
  padding: 3px;
}

.summary {
  font-size: .75em;
  text-align: center;
}

.summary p {
  margin: 5px 15px 10px 10px;
}

.preamble {
  margin: 5px 15px 10px 10px;
  margin-top: 20px;
}

.participation, .requirements {
  margin: 5px 15px 10px 10px;
}

.benefits {
  background-image: url(images/sunAndMountains.jpg);
  background-image: 100%;
  background-size: 100%;
  padding-left: .75em;
  padding-right: .75em;
  padding-bottom: .75em;
  padding-top: .1em;
  color: black;
}

.explanation {
  background-image: url(images/nasa-Sun.jpg);
  background-size: 1000px;
  padding-left: .75em;
  padding-right: .75em;
  padding-bottom: .75em;
  padding-top: .1em;
}

.explanation p {
  text-shadow: 1px 1px #555;
}

.benefits > h3 {
  color: black;
}

.design-selection {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: selection;
}

.design-archives {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: archives;
}

.zen-resources {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: resources;
}

.wrapper {
  grid-area: wrap;
  display: -ms-grid;
  display: grid;
  margin-left: 15px;
  margin-right: 15px;
      grid-template-areas: 'selection archives resources';
  background-color: rgba(255, 255, 255, 0.3);
}

.wrapper > * {
  text-align: center;
}

.wrapper h3 {
  color: #A99984;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: medium;
}

.requirements p:last-of-type {
  margin-top: 30px;
  font-size: .8em;
  text-align: center;
}

/* Medium/Tablet size screen */
@media only screen and (min-width: 700px) {
  div.preamble::before {
    content: url(Images/solarsystem1.jpeg);
    margin-left: 15%;
  }

}

/* Large/Desktop size screen */
@media only screen and (min-width: 901px) {

}
/*# sourceMappingURL=style.css.map */