@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap"); /*list of atoms in html
h1
h2
p
h3
a
li
*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
/*building according to wireframes*/
body {
  font-family: "Space Grotesk", sans-serif;
  background-color: black;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

*, html {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: grid;
  grid-template-areas: "intro" "sidebar" "main";
}

.intro {
  grid-area: intro;
}

.sidebar {
  grid-area: sidebar;
}

.main-supporting {
  grid-area: main;
}

a {
  color: #FAB943;
  transition-duration: 500ms;
}

a:hover {
  color: #F5E214;
  cursor: pointer;
}

p {
  margin: 5px;
}

h1 {
  color: black;
}

h2 {
  color: black;
  font-size: 2em;
}

h3 {
  color: #A99984;
  font-size: 1.5em;
  justify-content: center;
  margin: 5px;
}

header h1 {
  text-align: center;
  font-size: smaller;
}

header h2 {
  text-align: center;
}

.design-selection nav, .design-archives nav, .zen-resources ul {
  list-style-type: none;
  display: none;
  background-color: #DDD5CA;
  width: fit-content;
}

.design-selection:hover nav, .design-archives:hover nav {
  display: block;
  justify-self: center;
  top: 100%;
  cursor: pointer;
  width: fit-content;
}

.design-selection:hover nav li, .design-archives:hover nav li {
  list-style-type: none;
  display: block;
  justify-content: center;
}
.design-selection:hover nav li a, .design-archives:hover nav li a {
  color: black;
}

.zen-resources:hover ul {
  display: block;
  justify-self: center;
  top: 100%;
  cursor: pointer;
  width: fit-content;
  justify-content: center;
}
.zen-resources:hover ul a {
  justify-content: center;
  color: #555;
}

header {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  background-image: url(Images/fullSun.jpg);
  background-size: 700px;
  background-blend-mode: normal;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin: 5px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

footer a {
  padding: 3px;
}

.summary {
  font-size: 0.75em;
  text-align: center;
}

.summary p {
  margin: 5px 15px 10px 10px;
}

.preamble {
  margin: 5px 15px 10px 10px;
  margin-top: 20px;
}

.participation, .requirements {
  margin: 5px 15px 10px 10px;
}

.benefits {
  background-image: url(Images/sunAndMountains.jpg);
  background-image: 100%;
  background-size: 100%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  padding-top: 0.1em;
  color: black;
}

.explanation {
  background-image: url(Images/nasa-Sun.jpg);
  background-size: 1000px;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  padding-top: 0.1em;
}

.explanation p {
  text-shadow: 1px 1px #555;
}

.benefits > h3 {
  color: #A99984;
}

.design-selection {
  grid-area: selection;
}

.design-archives {
  grid-area: archives;
}

.zen-resources {
  grid-area: resources;
}

.wrapper {
  grid-area: wrap;
  display: grid;
  margin-left: 15px;
  margin-right: 15px;
  grid-template-areas: "selection archives resources";
  background-color: rgba(255, 255, 255, 0.3);
}

.wrapper h3 {
  color: #A99984;
  justify-content: center;
  width: max-content;
  font-size: medium;
}

.requirements p:last-of-type {
  margin-top: 30px;
  font-size: 0.8em;
  text-align: center;
}

/* Medium/Tablet size screen */
@media only screen and (min-width: 600px) {
  h1 h2 h3 {
    color: rgb(224, 142, 224);
  }
  body {
    background-image: url(Images/solarsystem1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }
  body a {
    color: rgb(224, 142, 224);
  }
  #design-selection a.designer-name:hover,
#design-selection a.design-name:hover {
    color: #F5E214;
  }
  .design-selection:hover nav li a, .design-archives:hover nav li a {
    color: rgb(224, 142, 224);
  }
  #design-archives li.next a:hover, #design-archives li.viewall a:hover {
    color: #F5E214;
  }
  #zen-resources ul:hover {
    color: rgb(224, 142, 224);
  }
  #zen-resources li a:hover {
    color: #F5E214;
  }
  .zen-resources:hover ul a {
    color: rgb(224, 142, 224);
  }
  .page-wrapper {
    display: grid;
    grid-template-areas: "intro intro intro" "sidebar main main" "sidebar main main" "sidebar main main";
  }
  .intro {
    grid-area: intro;
    display: grid;
    grid-template-areas: "header header header" ". summary summary" ". preamble preamble";
    grid-template-columns: 1fr 3fr 3fr;
  }
  /* Snippet below page title */
  .summary {
    grid-area: summary;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: right;
    background-size: 100%;
  }
  /* The Road to Enlightenment */
  .preamble {
    margin: 20px 0 20px 0;
    grid-area: preamble;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .sidebar {
    grid-area: sidebar;
    display: block;
    height: fit-content;
    margin-top: 100% vh;
  }
  .zen-resources ul li {
    margin-left: 15px;
  }
  .design-selection nav ul, .design-archives nav ul {
    list-style-type: none;
    padding-left: 15px;
  }
  .zen-resources, .zen-resources ul, .design-selection, .design-selection nav, .design-archives, .design-selection, .design-selection nav, .design-archives nav {
    background-color: rgba(0, 0, 0, 0.6);
    justify-self: center;
  }
  /*add button before wrapper*/
  .sidebar:after {
    text-align: right;
    content: "Show Menu";
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .sidebar:hover::after {
    color: red;
  }
  .sidebar:hover {
    color: white;
  }
  .sidebar:hover .wrapper {
    position: absolute;
    transition: 0.5s;
    left: 0px;
  }
  .sidebar {
    overflow: hidden;
  }
  .wrapper {
    position: absolute;
    top: 53%;
    left: -350px;
  }
  /* Includes "So What Is This About?", "Participation", "Benefits". "Requirements" */
  .main-supporting {
    grid-area: main;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.6);
  }
  /* So What Is This About? */
  .explanation {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0px 5px 0px 0px;
  }
  .requirements {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin: 5px 30px 5px 0px;
  }
  .benefits {
    background-image: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 5px 0px 0px 5px;
  }
  .participation {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0px 0px 5px 5px;
  }
  .intro header {
    display: grid;
    grid-template-areas: "h1 . h2 h2";
    background-image: none;
    grid-area: header;
  }
  .intro header h1 {
    grid-area: h1;
    font-size: x-large;
    color: rgb(224, 142, 224);
    animation: orbit 10s linear infinite;
  }
  @keyframes orbit {
    0% {
      transform: translate(50%, 0%);
    }
    2% {
      transform: translate(60%, 30%);
    }
    4% {
      transform: translate(70%, 50%);
    }
    6% {
      transform: translate(80%, 60%);
    }
    8% {
      transform: translate(90%, 70%);
    }
    10% {
      transform: translate(100%, 80%);
    }
    12% {
      transform: translate(110%, 90%);
    }
    14% {
      transform: translate(120%, 90%);
    }
    16% {
      transform: translate(130%, 90%);
    }
    18% {
      transform: translate(140%, 90%);
    }
    20% {
      transform: translate(150%, 90%);
    }
    22% {
      transform: translate(160%, 90%);
    }
    24% {
      transform: translate(170%, 90%);
    }
    26% {
      transform: translate(180%, 90%);
    }
    28% {
      transform: translate(190%, 90%);
    }
    30% {
      transform: translate(200%, 90%);
    }
    32% {
      transform: translate(210%, 90%);
    }
    34% {
      transform: translate(220%, 90%);
    }
    36% {
      transform: translate(230%, 90%);
    }
    38% {
      transform: translate(240%, 90%);
    }
    40% {
      transform: translate(250%, 90%);
    }
    42% {
      transform: translate(260%, 90%);
    }
    44% {
      transform: translate(270%, 90%);
    }
    46% {
      transform: translate(280%, 90%);
    }
    48% {
      transform: translate(290%, 90%);
    }
    50% {
      transform: translate(300%, 90%);
    }
    52% {
      transform: translate(310%, 90%);
    }
    54% {
      transform: translate(320%, 90%);
    }
    56% {
      transform: translate(310%, 80%);
    }
    58% {
      transform: translate(300%, 70%);
    }
    60% {
      transform: translate(290%, 50%);
    }
    62% {
      transform: translate(280%, 30%);
    }
    64% {
      transform: translate(270%, 0%);
    }
    66% {
      transform: translate(258%, 0%);
    }
    68% {
      transform: translate(246%, 0%);
    }
    70% {
      transform: translate(234%, 0%);
    }
    72% {
      transform: translate(222%, 0%);
    }
    74% {
      transform: translate(210%, 0%);
    }
    76% {
      transform: translate(198%, 0%);
    }
    78% {
      transform: translate(186%, 0%);
    }
    80% {
      transform: translate(174%, 0%);
    }
    82% {
      transform: translate(162%, 0%);
    }
    84% {
      transform: translate(150%, 0%);
    }
    86% {
      transform: translate(138%, 0%);
    }
    88% {
      transform: translate(126%, 0%);
    }
    90% {
      transform: translate(114%, 0%);
    }
    92% {
      transform: translate(102%, 0%);
    }
    94% {
      transform: translate(90%, 0%);
    }
    96% {
      transform: translate(78%, 0%);
    }
    98% {
      transform: translate(66%, 0%);
    }
    100% {
      transform: translate(50%, 0%);
    }
  }
  .intro header h2 {
    grid-area: h2;
    color: white;
  }
  .design-selection nav, .design-archives nav, .zen-resources ul {
    display: block;
    padding-bottom: 15px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/* Large/Desktop size screen */
@media only screen and (min-width: 1000px) {
  body {
    background-image: url(Images/shutterstock-306306104.webp);
  }
  .intro {
    grid-template-columns: 1fr;
    justify-self: end;
  }
  .intro header h1 {
    width: 50%;
    animation: orbit 2s ease-in-out infinite;
    font-size: 30px;
    text-align: flex-end;
    animation-direction: alternate;
    position: absolute;
  }
  /*large screen animation creates 3D font rotation*/
  @keyframes orbit {
    50% {
      font-size: 45px;
      transform: rotate3d(1, 1, 1, 45deg);
      color: #6E9378;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc;
    }
  }
  .preamble {
    margin-left: 20px;
  }
  .preamble h3 {
    text-align: center;
  }
  #zen-preamble.preamble {
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .intro header {
    margin: 20px 20px 20px 20px;
    display: block;
  }
  .summary {
    margin-left: 8.5%;
    width: 65%;
    justify-self: center;
    text-align: center;
  }
  #zen-supporting {
    display: grid;
    grid-template-areas: "explanation participation" "explanation participation" "explanation benefits" "requirements requirements" "footer footer";
  }
  /* So What Is this About? */
  .explanation {
    grid-area: explanation;
    background-image: url(Images/stocksolarsystem_cropped.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .participation {
    grid-area: participation;
  }
  #zen-participation.participation {
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .benefits {
    grid-area: benefits;
  }
  .requirements {
    grid-area: requirements;
  }
  #zen-requirements.requirements {
    padding-left: 15px;
  }
  /*delete 'Menu' button*/
  .sidebar:after {
    content: none;
  }
  .sidebar:hover {
    color: white;
  }
  .sidebar:hover .wrapper {
    position: relative;
    left: 0px;
  }
  .wrapper {
    position: relative;
    left: 0px;
  }
  footer {
    grid-area: footer;
  }
}

/*# sourceMappingURL=style.css.map */
