@import "variables";
@import "molecules";

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
/*building according to wireframes*/
body {
  font-family: $body-font;
  background-color: $body-background;
  color: $p-font;
  margin: 0;
  padding: 0;
}
*, html {
  margin:0;
  padding:0;  
}
a{
  color: $link-font;
}
p{
  margin: 5px;
}
h1{
  color: $sun-background-color;
}
h2{
  color: $sun-background-color;
}
h3{
  color: $sun-h3-font;
  font-size: 2em;
  justify-content: center;
  margin:5px;
}

header h1 {
  text-align: center;
  font-size: smaller;
}
header h2 {
  text-align: center;
}
.design-selection nav, .design-archives nav, .zen-resources ul{
  @include no-show;
}

.design-selection:hover nav, .design-archives:hover nav{
  @include show-nav-options;
  justify-content: center;  
}
.design-selection:hover nav li, .design-archives:hover nav li{
  @include style-li;
  justify-content: center;
}
.zen-resources:hover ul{
  @include show-nav-options;
  justify-content: center;
  a{
    justify-content: center;
    color: #555;
  }
}


header {
  display: block;
  margin-top: 10px;
  background-image: url(images/fullSun.jpg);
  background-size: 700px;
  background-blend-mode: normal;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.summary {
  font-size: .75em;
  text-align: center;
}

.benefits {
  background-image: url(images/sunAndMountains.jpg);
  background-image: 100%;
  background-size: 100%;
  padding-left: .75em;
  padding-right: .75em;
  padding-bottom: .75em;
  padding-top: .1em;
  color: $sun-background-color;
}

.explanation {
  background-image: url(images/nasa-Sun.jpg);
  background-size: 1000px;
  padding-left: .75em;
  padding-right: .75em;
  padding-bottom: .75em;
  padding-top: .1em;
}

.explanation p {
  text-shadow: 1px 1px #555;
}

.benefits > h3 {
  color: $sun-background-color;
}
.design-selection{
  grid-area: selection;
}
.design-archives{
  grid-area: archives;
}
.zen-resources{
  grid-area: resources;
}
.wrapper{
  grid-area:wrap;
  display: grid;
  grid-template-areas: 'selection archives resources';
}
.wrapper > *{
  text-align: center;
}
