@import "variables";
@import "molecules";

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
/*building according to wireframes*/
body {
  font-family: $body-font;
  background-color: $body-background;
  color: $p-font;
}
a{
  color: $link-font;
}
h1{
  color: $sun-h1-font;
}
h2{
  color: $sun-h2-font;
}
h3{
  color: $sun-h3-font;
}
header {
  display: block;
  border-bottom: 2px solid black;
}
header h1 {
  text-align: center;
  font-size: smaller;
}
header h2 {
  text-align: center;
}
.design-selection nav{
  @include no-show;
}
.design-selection:hover nav{
  @include show-nav-options;
  
}
.design-selection:hover nav li{
  @include style-li;
}
.design-archives nav{
  @include no-show;
}
.design-archives:hover nav{
  @include show-nav-options;
}
.design-archives:hover nav li{
  @include style-li;
}
.zen-resources ul{
  @include no-show;
}
.zen-resources:hover ul{
  @include show-nav-options;
  a{
    color: #555;
  }
}

